{{#name}}
Welcome, {{.}}! <br>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<form action="/create-message" method="post">
    <input type="text" placeholder="Enter message" name="text"/>
    <input type="hidden" value="{{replyId}}" name="replyId"/>
    <button type="submit">Submit</button>
</form>

{{/name}}

{{^name}}
<form action="/login" method="post">
    <input type="text" placeholder="Enter name" name="loginName"/>
    <input type="password" placeholder="Enter password" name="password"/>
    <button type="submit">Login</button>
</form>
{{/name}}